.notFound{
    min-height: calc(100vh - 55.97px - 209.27px);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}